extends ../node_modules/jade-bootstrap/_bootstrap

append styles
  // Custom styles for this template
  link(href='../css/starter-template.css', rel='stylesheet')

  block body
    +navbar-fixed("Colenso Project","navbar","inverse")
      +nav_item("index") Home
      +nav_item("browse") Browse
      +nav_item("search") Search
      +nav_item("upload") Upload/Edit