extends ../node_modules/jade-bootstrap/_bootstrap

append styles
  // Custom styles for this template
  link(href='stylesheets/style.css', rel='stylesheet')

  block body
  +navbar-fixed("Colenso Project","navbar","inverse")
      +nav_item("./") Home
        +icon("home")
      +nav_item("browse", "active") Browse
        +icon("th")
      +nav_item("search") Search
        +icon("search")
      +nav_item("upload") Upload
        +icon("upload")
  .container
    h1 Browse Database
    h4 List of Colenso Project Files
    .container
      each val in place
        li: a(href = "/documentView?document=/"+val)
          !{val}
          +a-btn("/download?document=/"+val) Download
