extends ../node_modules/jade-bootstrap/_bootstrap

append styles
  // Custom styles for this template
  link(href='stylesheets/style.css', rel='stylesheet')

  block body
  +navbar-fixed("Colenso Project","navbar","inverse")
      +nav_item("./") Home
        +icon("home")
      +nav_item("browse") Browse
        +icon("th")
      +nav_item("search") Search
        +icon("search")
      +nav_item("upload") Upload
        +icon("upload")
  .container
    h2 !{path}
    p !{document}
    +a-btn("/edit?document="+path) Edit File
    +a-btn("/download?document="+path) Download File
    +a-btn("/delete?document=" +path) Delete File
