extends ../node_modules/jade-bootstrap/_bootstrap

append styles
  // Custom styles for this template
  link(href='stylesheets/style.css', rel='stylesheet')

  block body
    +navbar-fixed("Colenso Project" ,"navbar")
      +nav_item("./") Home
        +icon("home")
      +nav_item("browse") Browse
        +icon("th")
      +nav_item("search", "active") Search
        +icon("search")
      +nav_item("upload") Upload/Edit
        +icon("upload")
  .container
    br
    br
    h1 Colenso Project
    form(name = "searchForm", action="/searchResult", method="get")
      +input("text", "txtName", "Search", "Search Query")
      input(type="radio", name="searchType", value="Text", checked=type=="Text")
      | Text    
      input(type="radio", name="searchType", value="XQuery", checked=type=="XQuery")
      | XQuery
      br
      +submit("Submit")
