extends ../node_modules/jade-bootstrap/_bootstrap

append styles
  // Custom styles for this template
  link(href='stylesheets/style.css', rel='stylesheet')

  block body
  +navbar-fixed("Colenso Project","navbar","inverse")
      +nav_item("./") Home
        +icon("home")
      +nav_item("browse") Browse
        +icon("th")
      +nav_item("search") Search
        +icon("search")
      +nav_item("upload", "active") Upload
        +icon("upload")
  .container
    h1 Upload Document
    form(name='uploadForm', action="/upload", method="get")
      input(type="file")
      +submit("Upload")
