.style {
  text-align: center;
  padding: 40px 15px;
}

h4 {
  text-decoration: underline;
}

body {
  padding-top: 50px;
}

img {
  margin: 10px;
}
button{
  margin-top: : 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
